<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TWT</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">TWT</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
        
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="c3p0.max_size">100</property> 
		<property name="c3p0.max_statements">50</property> 
		<property name="c3p0.min_size">10</property> 
		<property name="c3p0.timeout">100</property> <!-- seconds --> 
        <property name="show_sql">false</property>

        <!--Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
             <mapping resource="com/edifixio/soc/hbm/TwitterAccount.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/StagingScore.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/StagingRawScore.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Score.hbm.xml"/>			 
			 <mapping resource="com/edifixio/soc/hbm/ProfilePreference.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Product.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Metrics.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Industry.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Company.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Channel.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Category.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Brand.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Benchmark.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/MetricsProcessHandler.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/ImprovementLevel.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/RawResult.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/GoogleAnalyticsAccount.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/TwitLog.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/GradeMaster.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/Parameter.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/OverallCategory.hbm.xml"/>
			 
			 <mapping resource="com/edifixio/soc/hbm/InboundMetricsDummy.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/OutboundMetricsDummy.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/OverallPerformanceDummy.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/ProfileDummy.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/SocialIntelligenceMetricsDummy.hbm.xml"/>	
			 <mapping resource="com/edifixio/soc/hbm/UserProfileDetail.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/StateProvince.hbm.xml"/>			 
			 <mapping resource="com/edifixio/soc/hbm/ProfileListMaster.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/ProfileInfluence.hbm.xml"/>
			 <mapping resource="com/edifixio/soc/hbm/ProfileInfluenceList.hbm.xml"/>	 
     </session-factory>
</hibernate-configuration>
