.one-fourty
{
	margin:0px 0px 0px 0px;
	padding:0px;
	width:59px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#999999;
	float:left;
}
 
.one-fourty-red
{
	margin:0px 0px 0px 0px;
	padding:0px;
	width:57px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
	float:left;
}
 
.tweet-counter
{
    margin:2px 2px 2px 2px;
	padding:0px;
	width:59px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#999999;
	float:left;
}

.tweet-counter-red
{
    margin:2px 2px 2px 2px;
	padding:0px;
	width:57px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
	float:left;
}

.tweet-area
{
	background-image: none;
    border: 2px inset #6E7177;
    color: #B6D976;
    font-size: 12px;
    font-weight: normal;
    height: 70px;
    margin-right: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 3px;
    padding-top: 3px;
    resize: none;
    text-align: left;
    white-space: pre-wrap;
    width: 280px;
    word-wrap: break-word;
}

.tweetToolTipTitle
{
	text-decoration: none;
	color: #6E7177;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
}

.tweetToolTipData
{
	font-size: 12px;
	font-weight:normal;
	text-decoration: none;
	color: #6E7177;
}

.tweetToolTipDataBlue
{
	font-size: 12px;
	font-weight:normal;
	text-decoration: none;
	color: #1975B9;
}

.RTOWhatsHappeningText
{
	resize: none;
	color: #707379;
	width:300px; 
	height:80px; 
	padding-left: 3px; 
	font-size: 12px; 
	font-weight: normal; 
	margin-right: 5px; 
	padding-top: 3px; 
	text-align: left; 
	white-space: pre-wrap; 
	word-wrap: break-word;
}
