<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TWT</display-name>
  <servlet>
    <servlet-name>twitt</servlet-name>
    <servlet-class>com.edifixio.soc.web.controllers.servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>com.edifixio.soc.web.controllers.servlet.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bitlysignin</servlet-name>
    <servlet-class>com.edifixio.soc.web.controllers.servlet.BitlySigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bitlycallback</servlet-name>
    <servlet-class>com.edifixio.soc.web.controllers.servlet.BitlyCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twitt</servlet-name>
    <url-pattern>/faces/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/faces/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bitlysignin</servlet-name>
    <url-pattern>/faces/bitlysignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bitlycallback</servlet-name>
    <url-pattern>/faces/bitlycallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring-biz.xml,classpath*:spring-daos.xml,classpath*:spring-quartz.xml,
		classpath*:spring-session-factory.xml,classpath*:spring-web-services.xml,classpath*:spring-web-main-app.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>#{skinBean.skin}</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>enable</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/data-helper.taglib.xml</param-value>
  </context-param>
   <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
    <init-param>
      <param-name>uploadMaxFileSize</param-name>
      <param-value>100m</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
    <init-param>
      <param-name>createTempFiles</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>maxRequestSize</param-name>
      <param-value>45000000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.edifixio.soc.web.init.BizControlDataApplContextLoader</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Protected Area</web-resource-name>
      <url-pattern>/faces/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Protected Area</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/invalidLogin.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page> 
  <!-- 
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  -->
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>MailSenderServlet</display-name>
    <servlet-name>MailSenderServlet</servlet-name>
    <servlet-class>com.edifixio.soc.web.servlets.MailSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailSenderServlet</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.edifixio.soc.web.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserWS</servlet-name>
    <servlet-class>org.jboss.webservice.server.ServiceEndpointServletJSE</servlet-class>
    <init-param>
      <param-name>ServiceEndpointID</param-name>
      <param-value>TWT.war#UserWS/UserWSPort</param-value>
    </init-param>
    <init-param>
      <param-name>ServiceEndpointImpl</param-name>
      <param-value>com.edifixio.soc.ws.UserWSImpl</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserWS</servlet-name>
    <url-pattern>/UserWS</url-pattern>
  </servlet-mapping>
  
  <!--  Neel (Geo Location Servlet) -->
  <servlet>
  	<servlet-name>GatewayServletLocation</servlet-name>
  	<servlet-class>com.edifixio.flex.location.GatewayServletLocation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GatewayServletLocation</servlet-name>
  	<url-pattern>/GatewayServletLocation</url-pattern>
  </servlet-mapping>
  <!-- Ended Here -->
  
</web-app>